---
import type { CollectionEntry } from "astro:content";
import AlbumCard from "./AlbumCard.astro";

type Props = {
  albums: CollectionEntry<"albums">[];
};

const { albums } = Astro.props;
---

<section class="album-grid">
  {albums.map((album) => <AlbumCard album={album} />)}
</section>