---
import Cross from "../assets/images/cross.svg";
---

<dialog id="search-dialog">
  <form method="dialog">
    <label for="search-input" class="sr-only">Search:</label>
    <input
      aria-label="search"
      type="text"
      id="search-input"
      placeholder="Search"
      maxlength="30"
    />
    <span>Enter a name or stage name</span>
    <button id="close-dialog" arial-label="Close search"
      ><Cross width={9} height={9} /></button
    >
  </form>
</dialog>