---
import TextSlider from "../components/TextSlider.astro";
import Arrow from "../assets/images/arrow.svg";

type Props = {
  grid: string;
};

const { grid } = Astro.props;
---

<div class="tooltip" data-grid={grid}>
  <div class="tooltip__row" data-field="stagename">
    <!-- Stage Name -->
    <div class="tooltip__content">
      <TextSlider />
    </div>
    <div class="tooltip__content">
      <TextSlider />
    </div>
  </div>

  <div class="tooltip__row tooltip__row--ra">
    <TextSlider>
      <Arrow />
    </TextSlider>
  </div>

  <div class="tooltip__row" data-field="name">
    <!-- Name -->
    <div class="tooltip__content">
      <TextSlider />
    </div>
    <div class="tooltip__content">
      <TextSlider />
    </div>
  </div>

  <div class="tooltip__row tooltip__row--ra" data-field="genre">
    <!-- Genre -->
    <div class="tooltip__content">
      <TextSlider />
    </div>
    <div class="tooltip__content">
      <TextSlider />
    </div>
  </div>
</div>

<script src="../scripts/tooltip.js"></script>